<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First starter page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th><p>id</p></th>
        <th><p>name</p></th>
        <th><p>surname</p></th>
        <th><p>email</p></th>
        <th><p>age</p></th>
        <th><p>actions</p></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>