<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees app</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <form class="form-signin" th:action="@{/users}" th:object="${user}" method="post" action="/login">
        <h2 class="form-signin-heading">Please register</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" th:field="*{username}" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
</body>
</html>